<!doctype html>
<html lang="en">
<%- include('head'); -%>

<body>
  <%- include('header'); -%>
  <main>
    <section class="hero">
      <div class="container">
        <h1>Welcome Back!</h1>
        <p>Here's an overview of your inventory management today.</p>
      </div>
    </section>
    <section id="dashboard" class="dashboard">
      <h2>Dashboard</h2>
      <div class="dashboard-grid-container">
        <div class="dashboard-grid">
          <div class="dashboard-item">
            <h3>Total Items</h3>
            <p><%= totalItems %></p>
          </div>
          <div class="dashboard-item">
            <h3>Items Low on Stock</h3>
            <p><%= totalLowStock %></p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include('footer'); -%>
</body>

</html>